.main-item {
  color: #ccc;
}

.sider-item {
  color: #ccc;
}

.footer-item {
  color: #ccc;
}

.box {
  color: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-width: 12px;
  border-style: solid;
  border-color: red;
}

.box .img {
  width: 200px;
  display: block;
}

header .box {
  color: red;
}

.main-item {
  color: #ccc;
}

.sider-item {
  color: #ccc;
}

.footer-item {
  color: #ccc;
}
